body{
    background-image: url(../img/Como-clínicas-podem-aderir-ao-outubro-rosa.webp);
}

h1{
    color:rgb(119, 33, 119);
    text-shadow: white 2px 2px 6px;
    text-align: center;
}
p{
  text-indent: 10px;
  margin-top: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0) 2px 2px 4px;
  font-family: Arial, Helvetica, sans-serif;
}


#pag{
    margin-top:25px    ;
    margin-left: 50px;
    background-color: rgba(255, 255, 255, 0.178); 
    box-shadow: rgba(255, 255, 255, 0.836) 3px 3px 19px;
    border-radius: 2px;
    width: 80em;
}
     

